.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.97;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 200px;
      height: 200px;
      background: url("../img/portrait_small.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 200px 200px;
      border-radius: 50%;
      border: solid 3px #eece1a; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 350;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

.responsive-switch {
  display: inline-block; }

.responsive-switch:after {
  content: attr(data-content); }

.carousel {
  background: #000; }

.carousel img {
  display: block;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover; }

@media screen and (min-width: 768px) {
  .carousel img {
    height: 400px; } }

.mySlides {
  display: none; }

img {
  vertical-align: middle; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px; } }

.clr {
  clear: both; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.5); }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: 1px solid #fff;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #333;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  opacity: 0.6; }

#myBtn:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

#myBtn i:hover {
  color: #fff;
  transition: none; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 2.8rem; }
  h1.lg-heading-home,
  h2.lg-heading-home,
  h3.lg-heading-home {
    font-size: 5em; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem;
      color: #fff; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #eece1a 3px solid;
    width: 200px;
    height: 200px; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .bio p a:hover {
    color: #eece1a; }
  .about-info .bio p a {
    text-decoration: underline; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background: #404040;
    padding: 1rem;
    border-bottom: #eece1a 5px solid; }
    .about-info .job h3 {
      font-size: 1.4em;
      color: #eece1a; }
    .about-info .job h6 {
      font-size: 1em;
      font-weight: normal; }
    .about-info .job p {
      font-size: 1.3em; }
    .about-info .job:hover {
      background-color: #333;
      opacity: 0.95;
      border-color: #eece1a;
      transition: all 0.5s ease-out; }

.acknowledgments h3 {
  font-size: 1.5em;
  color: #eece1a; }

.acknowledgments a {
  text-decoration: underline; }

.acknowledgments a:hover {
  color: #eece1a; }

.design-credits h3 {
  font-size: 1.5em;
  color: #eece1a; }

.design-credits a {
  text-decoration: underline; }

.disclaimer a:hover {
  color: #eece1a; }

.disclaimer h3 {
  font-size: 1.5em;
  color: #eece1a; }

.disclaimer a {
  text-decoration: underline; }

.design-credits a:hover {
  color: #eece1a; }

.teach h2 {
  font-style: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

.teach i:hover {
  color: #eece1a;
  transition: 0.2s; }

.teach .accordion {
  background-color: #444;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  transition: 0.4s; }

.teach .active,
.teach .accordion:hover {
  background-color: #444;
  border-bottom: 1px solid #eece1a; }

.teach .panel {
  padding: 0 18px;
  background-color: #444;
  display: none;
  overflow: hidden; }
  .teach .panel h3 {
    font-size: 1.2em;
    font-style: normal;
    text-align: left;
    padding-top: 2vh; }
  .teach .panel .text-highlight {
    color: #eece1a; }
  .teach .panel a {
    text-decoration: underline; }
  .teach .panel a:hover {
    color: #eece1a; }

.teach .study-abroad h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.teach .certificates h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.teach .language h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.teach .tech-skills h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.teach .panel li {
  line-height: 1.5em;
  text-align: left;
  font-size: 1em; }

.teach .panel li a {
  text-decoration: underline; }

.teach .panel li a:hover {
  color: #eece1a; }

.teach .float {
  position: fixed;
  width: 40px;
  height: 45px;
  bottom: 75px;
  right: 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6; }
  .teach .float i {
    padding-top: 13px;
    font-size: 18px; }
  .teach .float i:hover {
    color: #fff;
    transition: none; }

.teach .float:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #eece1a;
      transition: all 0.5s ease-out; }

.travels {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr); }
  .travels img {
    width: 100%;
    border: 3px #fff solid; }
    .travels img:hover {
      opacity: 0.5;
      border-color: #eece1a;
      transition: all 0.5s ease-out; }
  .travels .float {
    position: fixed;
    width: 40px;
    height: 45px;
    bottom: 75px;
    right: 30px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    opacity: 0.6; }
    .travels .float i {
      padding-top: 13px;
      font-size: 18px; }
    .travels .float i:hover {
      color: #fff;
      transition: none; }
  .travels .float:hover {
    background-color: #232323;
    /* Add a dark-grey background on hover */
    border: 1px solid #eece1a;
    opacity: 1;
    transition: 0.4s; }

.august h2 {
  font-style: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

.august h3 {
  font-size: 1em; }

.august i:hover {
  color: #eece1a;
  transition: 0.2s; }

.august .float {
  position: fixed;
  width: 40px;
  height: 45px;
  bottom: 75px;
  right: 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6; }
  .august .float i {
    padding-top: 13px;
    font-size: 18px; }
  .august .float i:hover {
    color: #fff;
    transition: none; }

.august .float:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

.honorsawards h2 {
  font-style: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

.honorsawards i:hover {
  color: #eece1a;
  transition: 0.2s; }

.honorsawards .accordion {
  background-color: #444;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  transition: 0.4s; }

.honorsawards .active,
.honorsawards .accordion:hover {
  background-color: #444;
  border-bottom: 1px solid #eece1a; }

.honorsawards .music h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.honorsawards .panel {
  padding: 0 18px;
  background-color: #444;
  display: none;
  overflow: hidden; }
  .honorsawards .panel h3 {
    font-size: 1em;
    font-style: normal;
    text-align: left;
    padding-top: 2vh; }

.honorsawards .panel li {
  line-height: 1.5em;
  text-align: left;
  font-size: 1em; }

.honorsawards .float {
  position: fixed;
  width: 40px;
  height: 45px;
  bottom: 75px;
  right: 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6; }
  .honorsawards .float i {
    padding-top: 13px;
    font-size: 18px; }
  .honorsawards .float i:hover {
    color: #fff;
    transition: none; }

.honorsawards .float:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

.professional h2 {
  font-style: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

.professional i:hover {
  color: #eece1a;
  transition: 0.2s; }

.professional .accordion {
  background-color: #444;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  transition: 0.4s; }

.professional .active,
.professional .accordion:hover {
  background-color: #444;
  border-bottom: 1px solid #eece1a; }

.professional .panel {
  padding: 0 18px;
  background-color: #444;
  display: none;
  overflow: hidden; }
  .professional .panel h3 {
    font-size: 1.1em;
    font-style: normal;
    text-align: left;
    padding-top: 2vh; }

.professional .panel li {
  line-height: 1.5em;
  text-align: left;
  font-size: 1em; }

.professional .float {
  position: fixed;
  width: 40px;
  height: 45px;
  bottom: 75px;
  right: 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6; }
  .professional .float i {
    padding-top: 13px;
    font-size: 18px; }
  .professional .float i:hover {
    color: #fff;
    transition: none; }

.professional .float:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

.education h2 {
  font-style: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

.education i:hover {
  color: #eece1a;
  transition: 0.2s; }

.education .accordion {
  background-color: #444;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  transition: 0.4s; }

.education .active,
.education .accordion:hover {
  background-color: #444;
  border-bottom: 1px solid #eece1a; }

.education .panel {
  padding: 0 18px;
  background-color: #444;
  display: none;
  overflow: hidden; }
  .education .panel h3 {
    font-size: 1.2em;
    font-style: normal;
    text-align: left;
    padding-top: 2vh; }

.education .study-abroad h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.education .certificates h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.education .language h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.education .tech-skills h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.education .panel li {
  line-height: 1.5em;
  text-align: left;
  font-size: 1em; }

.education .panel li a {
  text-decoration: underline; }

.education .panel li a:hover {
  color: #eece1a; }

.education .float {
  position: fixed;
  width: 40px;
  height: 45px;
  bottom: 75px;
  right: 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6; }
  .education .float i {
    padding-top: 13px;
    font-size: 18px; }
  .education .float i:hover {
    color: #fff;
    transition: none; }

.education .float:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

.research h2 {
  font-style: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

.research i:hover {
  color: #eece1a;
  transition: 0.2s; }

.research .accordion {
  background-color: #444;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  transition: 0.4s; }

.research .active,
.research .accordion:hover {
  background-color: #444;
  border-bottom: 1px solid #eece1a; }

.research .panel {
  padding: 0 18px;
  background-color: #444;
  display: none;
  overflow: hidden; }
  .research .panel h3 {
    font-size: 1.2em;
    font-style: normal;
    text-align: left;
    padding-top: 2vh; }

.research .panel li {
  line-height: 1.5em;
  text-align: left;
  font-size: 1em; }

.research .panel li a {
  text-decoration: underline; }

.research .panel li a:hover {
  color: #eece1a; }

.research .float {
  position: fixed;
  width: 40px;
  height: 45px;
  bottom: 75px;
  right: 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6; }
  .research .float i {
    padding-top: 13px;
    font-size: 18px; }
  .research .float i:hover {
    color: #fff;
    transition: none; }

.research .float:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

.research .conf-pres h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.research ul a {
  text-decoration: underline; }

.research ul a:hover {
  color: #eece1a; }

.research .publications h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.organizationservice h2 {
  font-style: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

.organizationservice i:hover {
  color: #eece1a;
  transition: 0.2s; }

.organizationservice .memberships h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.organizationservice .committee-contributions h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.organizationservice .volunteer-leadership h3 {
  font-size: 1.8em;
  font-style: normal;
  text-align: left; }

.organizationservice .panel li {
  line-height: 1.5em;
  text-align: left;
  font-size: 1em; }

.organizationservice .float {
  position: fixed;
  width: 40px;
  height: 45px;
  bottom: 75px;
  right: 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6; }
  .organizationservice .float i {
    padding-top: 13px;
    font-size: 18px; }
  .organizationservice .float i:hover {
    color: #fff;
    transition: none; }

.organizationservice .float:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

.curriculum-vitae .float {
  position: fixed;
  width: 40px;
  height: 45px;
  bottom: 75px;
  right: 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6; }
  .curriculum-vitae .float i {
    padding-top: 13px;
    font-size: 18px; }
  .curriculum-vitae .float i:hover {
    color: #fff;
    transition: none; }

.curriculum-vitae .float:hover {
  background-color: #232323;
  /* Add a dark-grey background on hover */
  border: 1px solid #eece1a;
  opacity: 1;
  transition: 0.4s; }

.btn, .btn-dark, .btn-light {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #eece1a;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff;
  text-align: center;
  display: block; }

.btn-light {
  background: #c4c4c4;
  color: #333;
  text-align: center;
  display: block; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .travels {
    grid-template-columns: repeat(3, 1fr); } }

.acknowledgments {
  align-items: left;
  text-align: left; }

.design-credits {
  align-items: left;
  text-align: left; }

.disclaimer {
  align-items: left;
  text-align: left; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .travels {
    grid-template-columns: repeat(2, 1fr); }
  .education ul {
    align-items: left;
    text-align: left; }
  .research {
    align-items: left;
    text-align: left; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  .organizationservice ul {
    align-items: left;
    text-align: left; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 40vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/portrait_small.jpg");
      background-size: 200px 200px;
      width: 200px;
      height: 200px; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
  .travels {
    grid-template-columns: repeat(2, 1fr); }
  .organizationservice ul {
    align-items: left;
    text-align: left; }
  .education ul {
    align-items: left;
    text-align: left; }
  .research {
    align-items: left;
    text-align: left; }
  .teach {
    align-items: left;
    text-align: left; } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
  #home h1 {
    margin-top: 10vh; }
  .lg-heading {
    margin-top: 1rem;
    font-size: 5rem; }
  .projects {
    grid-template-columns: 1fr; }
  .travels {
    grid-template-columns: 1fr; }
  .organizationservice ul {
    align-items: left;
    text-align: left; }
  .education ul {
    align-items: left;
    text-align: left; }
  .research {
    align-items: left;
    text-align: left; }
  .teach {
    align-items: left;
    text-align: left; } }
